<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target
      name="logFile"
      xsi:type="File"
      createDirs="true"
      fileName="${basedir}/log/${date:format=yyyy-MM-dd}.log"
      layout="[${longdate}|${level:uppercase=true}|${logger}|${threadid}]: ${message}" />
    <target
      name="logErrorFile"
      xsi:type="File"
      createDirs="true"
      fileName="${basedir}/log/${date:format=yyyy-MM-dd}.log"
      layout="[${longdate}|${level:uppercase=true}|${logger}|${threadid}]: ${message}${newline}${exception:format=tostring}${newline}====== END ======" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="logFile" />
    <logger name="*" minlevel="Warn" writeTo="logErrorFile" />
  </rules>
</nlog>