<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Geckofx60.32" version="60.0.26" targetFramework="net471" />
  <package id="HtmlAgilityPack" version="1.11.4" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="NLog" version="4.5.11" targetFramework="net471" />
  <package id="pYove" version="1.0.0" targetFramework="net471" />
  <package id="RestSharp" version="106.5.4" targetFramework="net461" />
  <package id="RestSharp.Newtonsoft.Json" version="1.5.1" targetFramework="net471" />
</packages>